@mixin side-color-box($pad, $pad-2, $bgcolor, $bgcolor-span, $line-height-span, $font-size-span, $width-span) {
  padding: $pad 3em $pad $pad-2;
  background-color: $bgcolor;
  outline: none;
  position: relative;
  overflow: auto;
  span {
    background-color: $bgcolor-span;
    display: block;
    height: 100%;
    position: absolute;
    line-height: $line-height-span;
    right: 0;
    top: 0;
    font-size: $font-size-span;
    width: $width-span;
    text-align: center;
  }
}

