.site-footer
  @include top-border($color-primary--3)
  @include container()
  background-color: $color-primary--1
  width: 100%
  overflow: auto
  li,
  li a
    color: $color-primary--2
    font-family: $font-family--primary
    font-size: 0.75em
    line-height: 120%
    letter-spacing: -0.05em
    padding-left: 1em
    text-indent: -1.8em
  a:hover
    color: $color-tertiary
  h1
    color: $color-primary--6
    font-family: $font-family--primary
    font-size: 0.7em
    margin-bottom: 0.5em
  .subsection
    @include container()
    padding: 1.8em 6% 2em 8%
    width: 100%
    background-color: $color-primary--5
    margin: 2.5em -3% 0 -3%
    position: absolute
    @media only screen and (max-width: 450px)
      margin-top: 0.8em
      padding-left: 3%
      padding-right: 3%
    .side-grid
      text-align: right
      line-height: 120%
    .footnotes
      @media only screen and (max-width: 450px)
        font-size: 0.7em
        text-align: center
        margin-bottom: 2em

.side-grid
  float: right
  position: relative
  right: 3%
  width: 50%
  margin-right: -2%
  @media only screen and (max-width: 450px)
    width: 100%
    float: none
    display: block
    text-align: center
    font-size: 140%
    right: 0
    margin-right: 0
  ul
    @media only screen and (max-width: 450px)
      margin-bottom: 0.5em
  .details
    @media only screen and (max-width: 450px)
      text-align: center
      font-size: 0.35em
      line-height: 140%
      margin-top: 1em
  .section
    width: 32%
    padding: 0
    margin: 0.5% 0 0.5% 2%

.side-grid--for-tablet
  @media only screen and (min-width: 451px) and (max-width: 800px)
    width: 75%
