.span_3_of_3
  width: 100%
  padding: 0 0.5em
  overflow: auto
  @media only screen and (max-width: 480px)
    width: 100%

.span_1_of_3
  width: 32%
  padding: 0 0.5em
  @media only screen and (max-width: 480px)
    width: 100%

.span_2_of_3
  width: 64%
  padding: 0 0.5em
  @media only screen and (max-width: 480px)
    width: 100%

.col
  display: block
  float: left
  margin: 1% 0 1% 2%
  @media only screen and (max-width: 480px)
    margin: 1% 0 1% 0%
  &:first-child
    margin-left: 0
