.sidebox
  padding: 1.6em 3%
  width: 100%
  margin: 0 0 0 0
  background-color: $color-secondary
  border-top: 0.5em solid $color-secondary--1
  text-align: center
  h1
    font-family: $font-family--primary
    display: inline-block
    font-size: 1.1em
    @media only screen and (min-width: 480px) and (max-width: 800px)
      font-size: 0.95em
    @media only screen and (max-width: 450px)
      line-height: 130%
  button
    display: inline-block
    margin: -1em 0 0 1em
    display: absolute
    @media only screen and (max-width: 800px)
      display: block
      margin: 1em auto 0.5em auto

.box-button
  background-color: $color-primary--6
  margin: 1.5em 0 0 0
  padding: 1em
  @media only screen and (min-width: 675px) and (max-width: 800px)
    margin-top: 3.4em
  @media only screen and (min-width: 480px) and (max-width: 800px)
    margin-left: -113%
    width: 215%
  @media only screen and (max-width: 450px)
    padding: 1.2em 1em
    font-size: 120%
    margin-bottom: 0.4em
  section
    text-align: center
    display: inline-block
    position: relative
    &:first-child
      border-right: 0.1em solid $color-primary--4
      @media only screen and (max-width: 450px)
        border-right: 0
        border-bottom: 0.1em solid $color-primary--4
        padding-bottom: 0.6em
        margin-bottom: 1em
  h1
    font-family: $font-family--primary
    font-size: 0.8em
  .box-button--button
    font-size: 0.8em
    padding: 1em 3em 1em 1.3em
    span
      line-height: 2.1em
      font-size: 1.5em
      width: 1.5em

.side-heading
  color: $color-senary
  margin-bottom: 0.3em
  font-size: 0.8em
  font-family: $font-family--heading
  font-weight: bold

.text-color-1
  color: $color-senary
  a
    color: $color-senary

.icon-list
  float: left
  width: 23%
  text-align: center
  font-size: 1.7em
  overflow: auto
  margin-bottom: 1em
  a
    color: $color-primary--3
    letter-spacing: -0.1em
  @media only screen and (min-width: 450px) and (max-width: 800px)
    width: 20%
  @media only screen and (max-width: 450px)
    float: none
    width: 100%

.details--placement1
  text-align: right
  margin-top: -0.3em

.border-1
  @include top-border($color-secondary)

.border-2
  @include top-border($color-quaternary)

.border-3
  @include top-border($color-quinary)

.border-4
  border-bottom: 0.3em solid $color-tertiary



