.hero
  @include container()
  // background-image: url('../images/hero-image.jpg')
  // background-size: cover
  // background-position: 0% 62%
  // width: 100%
  margin-top: -$hero-slider-height
  height: $hero-slider-height
  // overflow: auto
  header
    position: absolute
    float: left
    width: 60%
    margin: 3em 0 0 2.4em

.page-title
  color: $color-senary

h1.page-title
  font-size: 2.35em
  margin-bottom: 0.4em
  text-shadow: 0px 0px 20px $color-primary--1

h2.page-title
  font-size: 0.9em
  font-family: $font-family--primary
  text-shadow: 0px 0px 20px $color-primary--1
