*
  box-sizing: border-box

body
  background-color: $color-senary

p
  font-family: $font-family--primary

h1, h2, h3, h4, h5, h6
  font-family: $font-family--heading
  font-style: normal

a
  text-decoration: none
  &:hover
    color: $color-tertiary

.clear
  clear: both

$hero-slider-height: 20em
$hero-slider-height-tablet: 26em
$hero-slider-height-mobile: 35em
